Log In To Pinterest

<%= form_for @user, url: {action: "login"} do |f| %>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.search_field :email %>
  </div>
  <div class="field">
    <%= f.label :password %><br>
    <%= f.search_field :password %>
  </div>
  <div class="actions">
    <%= f.submit "Login" %>
  </div>
<% end %>
