<!DOCTYPE html>
<html>
<head>
  <title>Fakepin</title>

  <p id="notice"><%= notice %></p>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'application', 'http://fonts.googleapis.com/css?family=Oleo+Script' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<%= yield %>

</body>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<scri­pt sr­c="jquery.autocomplete.js"></script>

  <%= stylesheet_link_tag "jquery.autocomplete.css" %>
  <%= javascript_include_tag "//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js" %>
  <%= javascript_include_tag "jquery.autocomplete.js" %>


<% if controller.action_name = "index" %>
  <%= javascript_include_tag "autocomp.js" %>
<% end %>

</html>
